{% if dashboard == 'dashboard' %}
{% extends 'layout.html' %}
{% endif %}
{% block content %}

{% if dashboard != 'dashboard' %}
<div id="curve_chart" style="width: 100%;"></div>
{% else %}
<br>
<form action="">
    <div class="form-group col-sm-3">
        <select id="anio" onChange="update(this.value)" class="form-control">
            <option value="">Seleccione un Año</option>
            {% for l in list_a %}
            <option value="{{l}}">{{l}}</option>
            {% endfor %}
        </select>
    </div>
</form>
<div id="curve_chart" class="col-lg-12" style="width: 100%; overflow-x: scroll; overflow-y: hidden;"></div>
{% endif %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function update(myanio) {
        location.href = "/{{graphic}}/dashboard/"+myanio;
    }

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', '{{tipe}}');
        data.addColumn('number', 'Total Ventas');
        data.addColumn('number', 'Promedio Ventas');
        data.addColumn('number', 'Mayor Venta');
        data.addColumn('number', 'Menor Venta');
        data.addRows([
            {% for d in range(total | length) %}
    ['{{ valor[d] }}', {{ total[d] }}, {{ prom[d] }}, {{ maxi[d] }}, {{ mini[d] }}],
        {% endfor %}
        ]);

    // Set chart options
    var options = {
        title: '{{ tittle }}',
        height: 480,
        legend: { position: 'top' },
        hAxis: {
            title: '{{tipe}}',
            {% if dashboard != 'dashboard' %}
            slantedText: true,
            slantedTextAngle: 90,
            {% endif %}
        },
        vAxis: {
            title: '{{cant}}'
        }
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
    }
</script>

{% endblock %}