{% extends 'layout.html' %}
{% block content %}
<br />
<div class="container">
    <h2>Descripcion del Flyer a Eliminar</h2>
    <div class="row">
        <div class="col-md-12">
            <p>
            <h1>{{ myFlyer.name }}</h1>
            </p>
        </div>
        <div class="col-md-6" style="justify-content: center; align-items: center; display: flex;">
            <img src="data:image/png;base64,{{ myFlyer.imagen }}" type="image/svg+xml" alt="flyer"
                style="width:350px" />
        </div>
        <div class="col-md-6">
            <p style="overflow-wrap: break-word;">{{ myFlyer.description }}</p>
        </div>
    </div>
    <br>
    <form method="POST">
        <div>
            <button type="submit" class="btn btn-sm btn-seccuess">
                Aceptar
                <span class="fas fa-check"></span>
            </button>
            <button onclick="document.location.href='/flyer'" type="button" class="btn btn-sm btn-danger">
                Cancelar
                <span class="fas fa-times"></span>
            </button>
        </div>
    </form>
</div>
{% endblock %}