{% extends 'layout.html' %}
{% block content %}
<br />
<div class="container">
    <h2>Descripcion del Flyer</h2>
    <div class="row">
        <div class="col-md-12">
            <p>
            <h1>{{ myFlyer.name }}</h1>
            </p>
        </div>
        <div class="col-md-6" style="justify-content: center; align-items: center; display: flex;">
            <img src="data:image/png;base64,{{ myFlyer.imagen }}" type="image/svg+xml" alt="flyer"
                style="width:350px" />
        </div>
        <div class="col-md-6">
            <p style="overflow-wrap: break-word;">{{ myFlyer.description }}</p>
        </div>
    </div>
    <br>
    <div> <button onclick="document.location.href='/request/create/{{ myFlyer.id }}'" type="button"
            class="btn btn-sm btn-primary">
            Solicitar Cotización
            <span class="fas fa-envelope"></span>
        </button>
        <button onclick="document.location.href='/'" type="button" class="btn btn-sm btn-dark">
            Volver
            <span class="fas fa-arrow-left"></span>
        </button>
    </div>
</div>
{% endblock %}