{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<br />
<div class="alert alert-{{category}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<h2>Editar Flyer</h2>
<form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Nombre</label>
            <input value="{{ myFlyer.name }}" type="text" class="form-control" name="name" pattern="[a-zA-Z\s*]*" required
                autofocus>
            <div class="valid-feedback">Ok</div>
            <div class="invalid-feedback">Debe completar el campo o Ingresar solo letras</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Descripción</label>
            <textarea class="form-control" name="description" id="descriptioC" rows="3"
                placeholder="Ingrese una descripcion de lo que solicita" required>{{ myFlyer.description }}</textarea>
            <span class="valid-feedback">Ok</span>
            <span class="invalid-feedback">Debe completar el campo</span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Imagen</label>
            <br />
            <input type="file" name="fileImagen">
            <br />
            <br />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="acept" class="btn btn-sm btn-success">
            Agregar
            <span class="fas fa-check"></span>
        </button>
        <button onclick="document.location.href='/flyer'" type="button" class="btn btn-sm btn-dark">
            Volver
            <span class="fas fa-arrow-left"></span>
        </button>
    </div>
</form>
{% endblock %}