{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{category}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ category }}</strong> {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h2>Editar</h2>
<div class="row">
    <div class="col-lg-12">
        <form method="POST" enctype="multipart/form-data">
            <label>Nombre</label>
            <input value="{{ myFlyer.name }}" type="text" class="form-control" name="name">

            <label>Descripción</label>
            <input value="{{ myFlyer.description }}" type="text" class="form-control" name="description">

            <label>Imagen</label>
            <br />
            <input type="file" name="fileImagen">
            <br />
            <br />
            <div>
                <input type="submit" class="btn btn-success" value="Aceptar" />
                <button onclick="document.location.href='/flyer'" type="button" class="btn btn-dark">Volver</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}