{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<br />
<div class="alert alert-{{ category }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<h2>Lista de Flyers</h2>

<button onclick="document.location.href='/flyer/create'" formmethod="GET" class="btn btn-primary">
    Agregar Flyer
    <span class="glyphicon glyphicon-plus"></span>
</button>
<br />
<br />
<table class="table table-responsive justify-content-center">
    <thead class="thead-dark">
        <tr>
            <th style="min-width: 200px">Nombre</th>
            <th style="min-width: 200px">Descripcion</th>
            <th style="min-width: 300px">Flyer</th>
        </tr>
    </thead>
    <tbody>
        {% for flyer in listFlyer %}
        <tr>
            <td>{{ flyer.name }}</td>
            <td style="min-width:150px; width:100%; max-width:250px;text-align: justify;">
                <p style="height: 120px; overflow: hidden; overflow-wrap: break-word;">{{ flyer.description }}</p>
            </td>
            <td style="text-align: center;">
                <img src="data:image/png;base64,{{ flyer.imagen }}" style="width: auto; max-width: 350px;"/>
            </td>
            <td style="width: 350px;">
                <button onclick="document.location.href='/flyer/edit/{{ flyer.id }}'" class="btn btn-info">
                    Editar
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td style="width: 350px;">
                <button onclick="document.location.href='/flyer/delete/{{ flyer.id }}'" class="btn btn-danger">
                    Eliminar
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}