{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<br />
<div class="alert alert-{{ category }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<h2>Lista de Flyers</h2>

<button onclick="document.location.href='/flyer/create'" formmethod="GET" class="btn btn-primary">
    Agregar Flyer
    <span class="glyphicon glyphicon-plus"></span>
</button>
<br />
<br />
<table class="table table-bordered justify-content-center">
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Flyer</th>
        </tr>
    </thead>
    <tbody>
        {% for flyer in listFlyer %}
        <tr>
            <td>{{ flyer.name }}</td>
            <td style="min-width:200px; width:25%; max-width:250px;text-align: justify;">
                <p style="overflow-wrap: break-word;">{{ flyer.description }}</p>
            </td>
            <td style="min-width:200px; width:50%; max-width:350px; text-align: center; vertical-align: middle;">
                <img src="/static/img/{{ flyer.imagen }}" style="width:fit-content; max-width: 80%;" />
            </td>
            <td>
                <button onclick="document.location.href='/flyer/edit/{{ flyer.id }}'" class="btn btn-info">
                    Editar
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button onclick="document.location.href='/flyer/delete/{{ flyer.id }}'" class="btn btn-danger">
                    Eliminar
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}