{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<br />
<div class="alert alert-{{ category }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<h2>Cotizaciones</h2>

<table class="table table-responsive justify-content-center">
    <caption>Lista de Cotizaciones 2020</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="min-width: 100px; width: fit-content;">Cliente</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Correo</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Telefono</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Destino</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Origen</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Fecha Cotizacion</th>
            <th scope="col" style="min-width: 100px; width: fit-content;">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for request in listRequest %}
        <tr>
            <td style="overflow-wrap: break-word; width:250px;">{{ request[0].name }} {{ request[0].address }}</td>
            <td style="min-width: fit-content; width:80px;">{{ request[0].email }}</td>
            <td style="min-width: fit-content; width:80px;">{{ request[0].phone }}</td>
            <td style="min-width: fit-content; width:80px;">{{ request[0].destino }}</td>
            <td style="min-width: fit-content; width:100px;">{{ request[0].origin }}</td>
            <td style="min-width: fit-content; width:150px;">{{ request[1].dateO }}</td>
            <td style="min-width: fit-content; width:100px; max-width: 150px; text-align: justify;">
                {% if request[0].state == 'Rechazado' %}
                <em class="far fa-times-circle fa-3x fa-lg" style="color:#FF0000;"></em>
                {% elif request[0].state == 'Procesado' %}
                <em class="fas fa-spinner fa-3x fa-lg" style="color:#FF8000;"></em>
                {% else %}
                <em class="fas fa-check fa-3x fa-lg" style="color:#088A4B;"></em>
                {% endif %}
            </td>
            <td style="min-width: 120px; width:fit-content; max-width: 150px; text-align: center;">
                <button onclick="document.location.href='/quotation/detail/{{ request[0].id }}'"
                    class="btn btn-sm btn-info">
                    Vizualizar
                    <span class="far fa-eye"></span>
                </button>
            </td>
            {% if request[0].state == 'Procesado' %}
            <td style="min-width: 120px; width: fit-content; max-width: 150px; text-align: center;">
                <button onclick="document.location.href='/quotation/answer/{{ request[0].id }},Aceptado';"
                    class="btn btn-sm btn-success">
                    Aceptar
                    <span class="far fa-check-circle"></span>
                </button>
            </td>
            <td style="min-width: 120px; width: fit-content; max-width: 150px; text-align: center;">
                <button onclick="document.location.href='/quotation/answer/{{ request[0].id }},Rechazado'"
                    class="btn btn-sm btn-danger">
                    Rechazar
                    <span class="far fa-times-circle"></span>
                </button>
            </td>
            {% elif request[0].state == 'Aceptado' %}
            <td style="min-width: 120px; width: fit-content; max-width: 150px; text-align: center;">
                <button onclick="document.location.href='/survey/{{ request[1].id }}'" class="btn btn-sm btn-secondary">
                    Encuestar
                    <span class="far fa-paper-plane"></span>
                </button>
            </td>
            {% elif request[0].state == 'Completado' %}
            <td style="min-width: 120px; width: fit-content; max-width: 150px; text-align: center;">
                <button onclick="document.location.href='/survey/detail/{{ request[1].id }}'"
                    class="btn btn-sm btn-secondary">
                    Encuesta
                    <span class="far fa-clipboard"></span>
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}