{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<br />
<div class="alert alert-{{ category }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<h2>Cotizaciones</h2>
<table class="table table-responsive justify-content-center">
    <thead class="thead-dark">
        <tr>
            <th style="min-width: 100px;">Cliente</th>
            <th style="min-width: 100px;">Correo</th>
            <th style="min-width: 100px;">Telefono</th>
            <th style="min-width: 100px;">Destino</th>
            <th style="min-width: 100px;">Origen</th>
            <th style="min-width: 100px;">Fecha Cotizacion</th>
            <th style="min-width: 100px;">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for request in listRequest %}
        <tr>
            <td style="overflow-wrap: break-word; width:250px;">{{ request[0].name }} {{ request[0].address }}</td>
            <td style="width:100px;">{{ request[0].email }}</td>
            <td style="width:80px;">{{ request[0].phone }}</td>
            <td style="width:100px;">{{ request[0].destino }}</td>
            <td style="width:100px;">{{ request[0].origin }}</td>
            <td style="width:150px;">{{ request[1].dateO }}</td>
            <td style="width:100px; max-width: 150px; text-align: justify;">
                <p style="overflow-wrap: break-word;">{{ request[0].state }}</p>
            </td>
            <td style="width:100px; max-width: 150px;">
                <button onclick="document.location.href='/quotation/detail/{{ request[0].id }}'"
                    class="btn btn-sm btn-info">
                    Vizualizar
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            {% if request[0].state == 'Procesado' %}
            <td style="width:100px; max-width: 150px;">
                <button onclick="document.location.href='/quotation/answer/{{ request[0].id }},Aceptado';" class="btn btn-sm btn-success">
                    Aceptar
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td style="width:100px; max-width: 150px;">
                <button onclick="document.location.href='/quotation/answer/{{ request[0].id }},Rechazado'"
                    class="btn btn-sm btn-danger">
                    Rechazar
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}