<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="padding-right: 3vw; padding-left: 3vw;">
        <table style="border: hidden;">
            <tr>
                <td style="width: 45%;">
                    <img src="https://scontent.fclo9-1.fna.fbcdn.net/v/t1.0-9/12821570_560137094151039_8870789361796236215_n.png?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=-3IddIyVIhUAX_dW-7N&_nc_ht=scontent.fclo9-1.fna&oh=867b41bb142c4a29bc1d625cdc1b2fd4&oe=5EC2C035"
                        style="max-width: 90%;" />
                </td>
                <td>
                    <p style="text-align: center; font-size: 5vw; line-height: 1vh;">La Casa Del Turismo</p>
                    <p style="text-align: center; font-size: 4vw; line-height: 1vh;">VIAJES Y TURISMO</p>
                    <p style="text-align: center; font-size: 2.6vw; line-height: 1vh;">Calle 48 # 49 – 73 Tel. 219 09 36
                    </p>
                    <p style="text-align: center; font-size: 2.6vw; line-height: 1vh;">Cel. 311 752 0216 – 312 490 2409
                    </p>
                    <p style="text-align: center; font-size: 2vw; line-height: 1vh;">RNT 35238</p>
                    <p style="text-align: center; font-size: 2.4vw; line-height: 1vh;">SEDE LA CASA DEL AFICHE.</p>
                </td>
            </tr>
        </table>
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{ data.dateO }}</p>
        <br>
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {{ data.para }}<br>{{ data.name }}
            {{ data.address }}<br>E.&nbsp;&nbsp;S.&nbsp;&nbsp;M.<br>{{ data.destino }}</p>
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Asunto: Cotización
            <br>{{ data.asunto }}</p>
        {% if itemsA %}
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">El plan incluye:</p>
        {% for itemA in itemsA %}
        <ul class="list-group">
            <li class="list-group-item"
                style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                {{ itemA.constraint }}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% if itemsR %}
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">El plan no incluye:</p>
        {% for itemR in itemsR %}
        <ul class="list-group">
            <li class="list-group-item"
                style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                {{ itemR.constraint }}</li>
        </ul>
        {% endfor %}
        {% endif %}
        <br>
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">EL
            PAQUETE TIENE UN PRECIO DE ${{ data.value }} POR PERSONA</p><br>
    </div>
</body>
<footer>
    <br>
    <p style="padding: 2em; font-size: x-small; text-align: justify;">La Casa del Turismo Liceísta, se compromete con:
        LEY 1336 DE 2009 Lucha
        contra la explotación, la pornografía, el turismo sexual y demás formas de abuso sexual con menores de edad. -
        Ley 397 de 1997 Protección de los Bienes de interés Cultural- Decreto 1377 de 2013 que comprende el manejo de la
        confidencialidad de los datos que sean suministrados a la agencia - Ley 1752 de 2015 por medio de la cual se
        modifica la Ley 1482 de 2011, para sancionar penalmente la discriminación contra las personas con discapacidad,
        la igualdad de raza o género. Ley 599 de 2000 y Decreto 1608 de 1978. Contra el tráfico de especies como flora y
        fauna silvestre.</p>
</footer>

</html>