{% extends "layout.html" %}
{% block content %}
<br>
<h2>Nuestra Empresa</h2>
<p style="text-align: justify;">Desde 2014, LA CASA DEL TURISMO LICEÍSTA, ofrece ideas creativas y novedosas que
    permiten disfrutar al máximo de las riquezas de nuestro país, brindando un servicio ágil, personalizado y oportuno,
    con el respaldo de profesionales de gran experiencia en el ámbito turístico.</p>
<p style="text-align: justify;">Dentro de los servicios que ofrece la empresa destacan la coordinación de itinerarios
    para individuales o grupos, incluyendo reservaciones de hotel, traslados, excursiones, y cualquier otro
    requerimiento especial que precise.</p>
<p style="text-align: justify;">Siempre trabajamos pensando en el cliente, en sus necesidades, pero sobre todo en sus
    expectativas, sabemos que cada detalle es importante, por lo que ponemos nuestro mayor empeño en cuidar todas
    aquellas pequeñas cosas que siempre marcarán la diferencia para que su viaje sea excepcional.</p>
<p style="text-align: justify;">El servicio se caracteriza por ser flexible y creativo en el diseño de los itinerarios,
    por eso seleccionamos con esmero a nuestro personal de transporte, guías y todas aquellas personas involucradas en
    la operación.</p>
<p style="text-align: justify;">Nuestros clientes provienen de las diferentes Instituciones públicas y privadas, que se
    encuentran en Sevilla Valle y cada día ampliamos nuestros horizontes para penetrar nuevos mercados.</p>
{% endblock %}