{% extends "layout.html" %}

{% block content %}
<br>
<h2>Contactenos</h2>
<p style="text-align: justify;">Somos una empresa de turismo que ofrece ideas creativas y novedosas que permiten
    disfrutar al máximo de las riquezas de nuestro país.</p>
<p>Tel. 3124902409</p>
<p>Tel. 3117520216</p>
<p>Correo: <a href="mailto:lacasadelturismo@gmail.com">lacasadelturismo@gmail.com</a></p>
<p>FanPage: <a href='https://www.facebook.com/lacasadelturismoliceista' target="_blank">facebook.com/lacasadelturismoliceista</a></p>

<img alt="Generador de Códigos QR Codes"
    src="http://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.facebook.com%2Flacasadelturismoliceista%2F&amp;s=6&amp;e=q">
{% endblock %}