{% extends "layout.html" %}

{% block content %}
<br>
<h2>Contactenos</h2>
<p style="text-align: justify;">Somos una empresa de turismo que ofrece ideas creativas y novedosas que permiten
    disfrutar al máximo de las riquezas de nuestro país.</p>
<p>Tel. 3124902409</p>
<p>Tel. 3117520216</p>
<p>Correo: <a href="mailto:lacasadelturismo@gmail.com">lacasadelturismo@gmail.com</a></p>
<p>FanPage: <a href='https://www.facebook.com/lacasadelturismoliceista'
        target="_blank" rel="noopener noreferrer">facebook.com/lacasadelturismoliceista</a></p>

<div class="row" style="justify-content: center; text-align: center; display: flex;">
    <div class="col-md-4">
        <img style="width: 400px;" alt="QR FanPages Facebook"
            src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.facebook.com%2Flacasadelturismoliceista&s=10&e=q" />
        <p style="font-size: large; text-align: center;">Visita nuestro Facebook</p>
    </div>
    <div class="col-md-4">
        <img style="width: 400px;" alt="QR Contacto de WhatsApp"
            src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwa.me%2F573124902409&s=10&e=q" />
        <p style="font-size: large; text-align: center;">Contactanos por WhatsApp</p>
    </div>
    <div class="col-md-4">
        <img style="width: 400px;" alt="QR Mensajeria"
            src="https://www.codigos-qr.com/qr/php/qr_img.php?d=MATMSG%3ATO%3Alacasadelturismo%40gmail.com%3BSUB%3ASolicitud%3BBODY%3APor+favor+indiquemos+su+solicitud%3B%3B&s=10&e=" />
        <p style="font-size: large; text-align: center;">Envianos un Correo</p>
    </div>
</div>

{% endblock %}