{% extends "layout.html" %}
{% block content %}
<br>
<h2>Misión</h2>
<p style="text-align: justify;">Somos una empresa dedicada a ofrecer servicios de turismo, orientada a satisfacer las necesidades de nuestros clientes, grupos empresariales, universitarios y comunidad en general, mediante asesorías especializadas con altos estándares de calidad y sostenibilidad, aplicando y compartiendo las mejores prácticas de turismo sostenible, para así contribuir a la satisfacción de las expectativas de nuestros clientes, creando valor que se ve reflejado en el bienestar de nuestros usuarios, proveedores, y por lo tanto lograr un crecimiento económico sostenible para nuestra organización y para nuestro entorno.</p>
<br>
<h2>Visión</h2>
<p style="text-align: justify;">Ser al 2022 una organización con gran reconocimiento regional en el sector del turismo, reconocida por proveer planes turísticos sostenibles eficientes y eficaces, contando con una gran capacidad de innovación, confiabilidad y seguridad, además de contar con el personal idóneo y de políticas de calidad y sostenibilidad en todos nuestros procesos mediante un mejoramiento continuo, para así lograr satisfacer las necesidades turísticas de nuestros clientes.</p>
{% endblock %}