{% extends "layout.html" %}
{% block content %}
<br>
<h2>Nuestros Valores</h2>
<p style="text-align: justify;">
    <h4>Excelencia:</h4> Nos distinguimos en nuestras labores con la convicción de mejorar y de inspirar.
</p>
<p style="text-align: justify;">
    <h4>Responsabilidad:</h4> Nos comprometemos a atender las necesidades de las personas, de las partes interesadas y
    del entorno natural a través de nuestro trabajo, maximizando los recursos de la empresa.
</p>
<p style="text-align: justify;">
    <h4>Lealtad:</h4> Somos íntegros y confiables en todas nuestras relaciones.
</p>
<p style="text-align: justify;">
    <h4>Respeto:</h4> Promovemos la armonía y la calidez entre las personas, tomando en cuenta la diversidad humana.
</p>
<p style="text-align: justify;">
    <h4>Diligencia:</h4> Actuamos con prontitud, iniciativa, esmero y pasión en las tareas asignadas.
</p>
{% endblock %}