{% extends "layout.html" %}

{% block content %}
<br />
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{category}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ category }}</strong> {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/static/img/Logo.png" style="width:98%" />
        </div>
        <div class="col-sm-6" style="width:50%">
            <p style="text-align:center;">
                <Font size="24">La Casa Del Turismo</Font><br />
                <Font size="6">VIAJES Y TURISMO</Font><br />
                <Font size="4">Calle 48 # 49 – 73 Tel. 219 09 36</Font><br />
                <Font size="4">Cel. 311 752 0216 – 312 490 2409</Font><br />
                <Font size="4">RNT 35238</Font><br />
                <Font size="4">SEDE LA CASA DEL AFICHE.</Font><br />
            </p>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for flyer in listFlyer %}
        <div class="col mb-4">
            <div style="text-align: center;border-radius: 6px; border-style: solid; border-width: 1px; padding: .5em;">
                <img src="/static/img/{{ flyer.imagen }}" class="card-img-top" style="max-height: max-content;">
                <div class="card-body">
                    <h5 class="card-title">{{ flyer.name }}</h5>
                    <p style="overflow: hidden">{{ flyer.description }}</p>
                    <button onclick="document.location.href='/flyer/detail/{{ flyer.id }}' " type="button"
                        class="btn btn-primary">
                        Descripción
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}