{% extends "layout.html" %}
{% block content %}
<br />
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{category}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br />
<table style="border: hidden;">
    <caption></caption><th scope="col"></th>
    <tr>
        <td style="width: 45%;">
            <img src="https://i.imgur.com/xifoKDB.png"
            alt="LogoEmpresa" style="max-width: 90%;"/>
        </td>
        <td>
            <p style="text-align: center; font-size: 4vw; line-height: 6vh;">La Casa Del Turismo</p>
            <p style="text-align: center; font-size: 3.5vw; line-height: 4vh;">VIAJES Y TURISMO</p>
            <p style="text-align: center; font-size: 2.2vw; line-height: 3vh;">Calle 48 # 49 – 73 Tel. 219 09 36</p>
            <p style="text-align: center; font-size: 2.2vw; line-height: 2vh;">Cel. 311 752 0216 – 312 490 2409</p>
            <p style="text-align: center; font-size: 2vw; line-height: 3vh;">RNT 35238</p>
            <p style="text-align: center; font-size: 2.2vw; line-height: 2vh;">SEDE LA CASA DEL AFICHE.</p>
        </td>
    </tr>
</table>
<br />
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for flyer in listFlyer %}
        <div class="col mb-4">
            <div style="text-align: center;border-radius: 6px; border-style: solid; border-width: 1px; padding: .5em;">
                <img src="data:image/png;base64,{{ flyer.imagen }}" alt="Flyer" style="height: 300px;" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ flyer.name }}</h5>
                    <p style="height: 100px; overflow: hidden;overflow-wrap: break-word;">{{ flyer.description }}</p>
                    <button onclick="document.location.href='/flyer/detail/{{ flyer.id }}' " type="button"
                        class="btn btn-sm btn-primary">
                        Descripción
                        <span class="fas fa-info"></span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
