<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon"
        href="https://imgur.com/xifoKDB"
        type="image/x-icon">
    <title>Casa del Turismo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Casa del Turismo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="text-align: justify;">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/request/create/-1">Solicitar Cotización</a>
                </li>
                {% if session['admin'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/request">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quotation">Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/flyer">Flyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Graficas</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contactenos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Quienes Somos</a>
                    <div class="dropdown-menu navbar-dark bg-dark">
                        <a class="nav-link" href="/company">Nuestra Empresa</a>
                        <a class="nav-link" href="/mission_vision">Mision-Vision</a>
                        <a class="nav-link" href="/values">Nuestros Valores</a>
                    </div>
                </li>
                {% if session['admin'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/login_out">Cerrar</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-right: 1vw; padding-left: 1vw;">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/static/js/validar.js"></script>
</body>
<footer>
    <br>
    <p style="padding: 2em; font-size: x-small;">La Casa del Turismo Liceísta, se compromete con: LEY 1336 DE 2009 Lucha
        contra la explotación, la pornografía, el turismo sexual y demás formas de abuso sexual con menores de edad. -
        Ley 397 de 1997 Protección de los Bienes de interés Cultural- Decreto 1377 de 2013 que comprende el manejo de la
        confidencialidad de los datos que sean suministrados a la agencia - Ley 1752 de 2015 por medio de la cual se
        modifica la Ley 1482 de 2011, para sancionar penalmente la discriminación contra las personas con discapacidad,
        la igualdad de raza o género. Ley 599 de 2000 y Decreto 1608 de 1978. Contra el tráfico de especies como flora y
        fauna silvestre.</p>
</footer>
</html>