<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="/app/static/img/favicon.ico" type="image/x-icon">
    <title>Casa del Turismo</title>
</head>

<body>
    <div class="container">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/static/img/Logo.png" style="width:98%" />
                </div>
                <div class="col-sm-6" style="width:50%">
                    <p style="text-align:center;">
                        <Font size="24">La Casa Del Turismo</Font><br />
                        <Font size="6">VIAJES Y TURISMO</Font><br />
                        <Font size="4">Calle 48 # 49 – 73 Tel. 219 09 36</Font><br />
                        <Font size="4">Cel. 311 752 0216 – 312 490 2409</Font><br />
                        <Font size="4">RNT 35238</Font><br />
                        <Font size="4">SEDE LA CASA DEL AFICHE.</Font><br />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{ form_to }}:<br>{{ name }} {{ address }}<br>E.&nbsp;&nbsp;S.&nbsp;&nbsp;M.</p>
                    <p>Asunto:{{ asunto }}</p>
                    <p style="text-align: justify;">Cordial Saludo<br>
                        Con motivo de la crisis sobre la salud, que afronta el mundo en la actualidad, que no es ajena
                        a nuestro pueblo y que genera otras crisis, (como la económica, moral social, familiar, etc) y
                        en particular, por la cuarentena en la que nos encontramos en nuestro país.
                        Los representantes de la Junta Pro-excursión 2020, padres de familia y en común acuerdo con LA
                        CASA DEL TURISMO, buscando una alternativa que favorezca al público en general a nuestros
                        colaboradores, (quienes adquirieron los bonos) y a nuestros excursionistas, hemos decidido, para
                        el sorteo del próximo 4 de abril, los siguientes puntos:
                        1) Las personas que cancelaron la primera cuota del bono, participarán en el sorteo del próximo
                        4 de abril, por ${{ value }},{{ value_text }}, si puede cancelando al día o sino con el
                        compromiso de ponerse al día en dicha cuota, antes que juegue el premio mayor, la junta
                        organizadora verificará el ganador en la planilla del pasado 07 de marzo.
                        2) quien no haya cancelado la primera cuota, solo participará del 2do sorteo, si paga las dos
                        cuotas, ($20.000-), y el vendedor enviará el informe de esta cancelación, hasta 5 horas antes de
                        sorteo, si a las 5.00 pm del 4 de abril, no ha informado sobre dicha venta y pago, no
                        participará en el sorteo, (números de whatssapp a continuación).
                        3) el excursionista que tenga la forma de cobrar la cuota y su cliente de pagarla, puede
                        recibirla y si puede enviar a alguien o salir a consignarla, hacerlo, (el banco estará abierto),
                        en caso que no pueda salir de casa, guardará el dinero, hasta que pueda ir al banco, (ojo.
                        Enviar foto a los whatssapp 3117520216 3154349904, 3103952524 o 3124902409) y guardar la foto y
                        el recibo original.
                        En espera de una pronta normalidad en nuestro que´hacer diario y deseosos de seguir prestando el
                        mejor apoyo, como padres de familia, docentes y prestadores de servicio turístico, un afectivo
                        saludo.
                    </p>
                    <p>ATTE:</p>
                    <p>JUNTA DE PADRES<br>
                        DOCENTES COMPROMETIDOS<br>
                        Y LA CASA DEL TURISMO
                    </p>
                    <p style="text-align: justify;">
                        <font size="2">La Casa del Turismo Liceísta, se compromete con: LEY 1336 DE 2009 Lucha contra la explotación,
                        la pornografía, el turismo sexual y demás formas de abuso sexual con menores de edad. - Ley 397
                        de 1997 Protección de los Bienes de interés Cultural- Decreto 1377 de 2013 que comprende el
                        manejo de la confidencialidad de los datos que sean suministrados a la agencia - Ley 1752 de
                        2015 por medio de la cual se modifica la Ley 1482 de 2011, para sancionar penalmente la
                        discriminación contra las personas con discapacidad, la igualdad de raza o género. Ley 599 de
                        2000 y Decreto 1608 de 1978. Contra el tráfico de especies como flora y fauna silvestre.</font></p>
                </div>
            </div>
        </div>
</body>

</html>